@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    font-size: 14px;
    background: url(../public/glass-bg.png) no-repeat center center fixed;
    background-size: cover;
}

.dark body {
    color: #f9f9f9;
    background: url(../public/bg--blur-purple.png) no-repeat center center fixed;
    background-size: cover;
}

.auth-page {
    height: 100vh;
    background: url("../public/glass-bg.png") no-repeat center center fixed;
}

.register-form,
.login-form,
.forgot-password-form,
.change-password-form {
    position: relative;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.08);
}

.register-form,
.login-form,
.forgot-password-form,
.change-password-form > img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.12;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active-nav {
    color: #5c28bc;
}

.gradient-text {
    background: linear-gradient(90deg, #2a16bf, #c63cb1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
